<div>
    <p>id: {{ user.id }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Age: {{ user.age }}</p>
    <p>Date of Birth: {{ user.dateOfBirth | date: 'dd MMM yyyy'  }}</p>
    <p><b>Address:</b></p>
    <p>City: {{ user.address.city }} </p>
    <p>Street: {{ user.address.street }}</p>
    <p>PostalCode: {{ user.address.postalCode }}</p>
    <p>Role: {{ user.role }}</p>
    <p>username: {{ user.username }}</p>
    <img width= "300px" src="{{ user.profilePhotoUrl }}" alt="gatto">
    <p>Gender: {{ user.gender  }}</p>
    <div *ngFor="let company of user.companies">
        <p><b>Company: {{ company.name }}</b></p>
        <p>Description: {{ company.description }}</p>
    </div>
</div>
