.c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(30,144,255,0.3);
    border: 1px solid blue;
    margin: 20px;
    padding: 10px;
}

.c2 {
    display: flex;
}